@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;400;700&family=Lato:wght@300;400;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

/* global css */
body{
  font-family: Sofia Sans Semi Condensed, lato, sans-serif
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
 
}
.bs{
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #087141, #6bcdb2); 
}
html{
  scroll-behavior: smooth;
}